{% extends 'base.html' %}
{% block content %}
<h1>Post</h1>
<ul>
{% for post in object_list %}

   <li><a href="{% url 'article_details' post.pk %}"> {{post.title}}</a>-<a href="{% url 'category' post.category %}">{{post.category}}</a>-{{post.author}} 

    {% if user.is_authenticated %}

    {% if user.id == post.author.id %}

        <a href="{% url 'update_post' post.pk %}">Edit</a><br/>
        {{post.body|slice:":100"|safe}}
        <a href="{% url 'delete_post' post.pk %}">Delete</a></li>

    {% endif %}

    {% endif %}
    <br/>
    {{post.snippet}}
{% endfor %}
</ul>



{% endblock %}